@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');
@import 'node_modules/@tabler/icons/iconfont/tabler-icons.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --main-bg   : #1F1F3D;
    --red       : #ED7B84;
    --green     : #56A3A6;
    --blue      : #8A74FD;
    --lavender  : #A68FFF;
}

.border {
    border: 1px solid red;
}

body {
    min-height: 100vh;
}

table {
    overflow: hidden;
}

.dark {
    color: var(--main-bg);
}

.bg-dark{
    background-color: var(--main-bg);
}

.bg-gradient-blue {
    background-image: linear-gradient(to right, var(--blue), var(--lavender));
}

.full {
    width: 100%;
    min-height: 100vh;
}

.full-nav {
    width: 100%;
    min-height: 100vh;
}

.f-width {
    width: 100%;
}

.f-height {
    height: 100%;
}

.box-sm {
    width: 400px;
}

.box-md {
    width: 650px;
}


.white {
    color: white;
}

.red {
    color: var(--red);
}
.bg-red {
    background-color: var(--red);
}

.green {
    color: var(--green);
}
.bg-green {
    background-color: var(--green);
}

.blue {
    color: var(--blue);
}
.bg-blue {
    background-color: var(--blue);
}

.hover-lav :hover {
    color: var(--lavender);
    transition: .5s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input {
    border: none;
}