@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}
.full {
    min-height: 90vh;
}

.spacing {
    letter-spacing: 1rem;
}

.border {
    border: 4px solid black;
}

#kembalian_kiri {
    height: fit-content;
}